<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.GoodsMapper">
    <select id="selectByAny" resultType="org.example.pojo.Goods">
        select * from rizao.goods
            <where>
                <if test="id != null">
                    id = #{id}
                </if>
                <if test="name != null">
                    and name like concat('%' + #{name} + '%')
                </if>
                <if test="detail != null">
                    and detail like concat('%' + #{detail} + '%')
                </if>
                <if test="producer != null">
                    and producer = #{producer}
                </if>
                <if test="classification != null">
                    and classification = #{classification}
                </if>
        </where>
    </select>
</mapper>